main {
    width: 1200px;
    margin: 0 auto 50px;
    /* overflow: hidden; */
}
.padding-line {
    border-bottom: 2px solid;
    padding: 20px 0;
}

#detail-header-wrap {
    justify-content: space-between;
    padding-top: 0;
}
#writer-wrap {
    align-items: center;
    column-gap: 10px;
}
#writer-wrap > .writer-pic {
    width: 50px;
    border-radius: 50%;
}
#writer-wrap > .writer-nickname {
    width: auto;
    font-size: 20px;
    font-weight: 500;
}

#num-wrap {
    column-gap: 25px;
    /* font-weight: 500; */
}
#num-wrap > div {
    column-gap: 10px;
}

/* ------------------------------------------------------------ */

#detail-content-wrap {
    justify-content: space-between;
}
#detail-content-wrap > * {
    font-size: 30px;
}
#player-info-wrap {
    flex-direction: column;
    align-items: end;
}
#position {
    font-size: 18px;
}
#num-name-wrap {
    column-gap: 10px;
}
#num {
    color: #ea0029;
}

/* ------------------------------------------------------------ */

.swiper {
    padding-left: 48px;
    padding-right: 50px;
}
.swiper-wrapper {
    display: flex;
}
.swiper-slide {
    display: flex;
    align-items: center;
}
.swiper-slide > img {
    width: 240px;
    border: 2px solid;
    border-radius: 5px;
}
.swiper-button-prev {
    color: transparent;
    background: url(../img/slidePrevArrow.png) no-repeat center / 40px 40px;
}
.swiper-button-next {
    color: transparent;
    background: url(../img/slideNextArrow.png) no-repeat center / 40px 40px;
}

/* ------------------------------------------------------------ */

#btn-wrap {
    margin-top: 25px;
    justify-content: end;
    column-gap: 10px;
}
#btn-wrap > a,
#btn-wrap button {
    display: inline-block;
    padding: 0 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    cursor: pointer;
    background-color: var(--yellow-btn);

    &:hover {
        background-color: var(--yellow-btn-hover);
    }
}

/* ------------------------------------------------------------ */

#comment-wrap {
    margin-top: 50px;
}
.comment-content {
    align-items: center;
    column-gap: 15px;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    /* background-color: var(--comment-color); */
    background-color: rgb(244, 244, 244);
}
.writer-pic {
    width: 40px;
    border-radius: 50%;
}
.writer-nickname {
    width: 209px;
}
.write-time {
    margin-left: auto;
}
.comment-delete-btn {
    padding: 0 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    background-color: salmon;
    cursor: pointer;
    font-weight: 500;
    display: none;
}

#comment-write-wrap {
    align-items: center;
    background-color: var(--yellow-btn);
}
#comment-write-wrap > .writer-nickname {
    width: 16.84%;
}
.comment-input {
    width: 71.35%;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
.comment-input:focus {
    border: 2px solid rgb(255, 215, 83);
}
.comment-input::placeholder {
    color: rgb(190, 190, 190);
}
.comment-write-btn {
    padding: 0 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    background: rgb(255, 215, 83);
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background-color: rgb(255, 204, 35);
    }
}
