#foodList-wrap {
    width: 1200px;
    margin: 15px auto 50px;
}

#list-header-wrap {
    flex-direction: column;
    row-gap: 30px;
}
#header-txt {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--yellow-btn);
}
#btn-wrap {
    width: 100%;
    justify-content: space-between;
    column-gap: 40px;
}
#region-btn-wrap {
    column-gap: 23px;
}
#write-btn,
#region-btn-wrap > p {
    border-radius: 3px;
    font-weight: 500;
    line-height: 38px;
    cursor: pointer;
}
#write-btn {
    padding: 0 12px;
    background-color: var(--yellow-btn);

    &:hover {
        background-color: var(--yellow-btn-hover);
    }
}
#region-btn-wrap > p {
    padding: 0 20px;
    background-color: #e9e9e9;

    &:hover {
        background-color: #dedede;
    }
}

/* ------------------------------------------------------------ */

#list-wrap {
    margin: 30px 0;
    flex-wrap: wrap;
    column-gap: 36px;
    row-gap: 40px;
}
.list-content {
    position: relative;
}
.list-content > a {
    /* 2열 배열 */
    width: 582px;
    /* 3열 배열 */
    /* width: 376px; */
    height: 110px;
    justify-content: flex-start;
    column-gap: 50px;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 1px solid transparent;
    font-size: 18px;
}
.list-content > a:hover {
    border: 1px solid #898989;
}

.list-content > a > div:last-child {
    flex-direction: column;
    row-gap: 10px;
}
#region {
    padding: 5px 18px;
    border-radius: 0 5px 5px 0;
    background-color: rgb(255, 205, 205);
    font-weight: 500;
}
#title {
    font-weight: 500;
}
#nickname {
    font-size: 16px;
}

.content-zzimBtn {
    align-items: center;
    position: absolute;
    bottom: 50%;
    right: 20px;
    transform: translateY(50%);
}
#heart {
    width: 40px;
    fill: rgb(255, 110, 110);
    /* fill: white; */
    stroke: #333;
    stroke-width: 60px;
    cursor: pointer;
}
#star{
    width: 40px;
    fill: rgb(255, 239, 158);
    /* fill: white; */
    stroke: #333;
    stroke-width: 1.3;
    cursor: pointer;
}
#star2{
    width: 40px;
    fill: rgb(255, 239, 158);
    /* fill: white; */
    stroke: #333;
    stroke-width: 1;
    cursor: pointer;
}

/* ------------------------------------------------------------ */

#pagination-content > li {
    line-height: 45px;
}
#pagination-content > li > a {
    display: block;
    height: 35px;
    width: 35px;
    margin: 0 3px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}
#pagination-content > li > a:hover {
    background-color: var(--yellow-btn);
}
#pagination-content > li > a.active {
    background-color: var(--yellow-btn);
}
