#marketDetail-wrap {
    width: 1200px;
    margin: 15px auto 50px;
}
#content-wrap {
    align-items: center;
    column-gap: 50px;
}
#product-img {
    width: 500px;
    border-radius: 10px;
}

#detail-wrap {
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
}
#detail-header-wrap {
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 2px solid;
}
#writer-wrap {
    align-items: center;
    column-gap: 10px;
}
#writer-wrap > .writer-pic {
    width: 55px;
}
#writer-wrap > .writer-nickname {
    width: auto;
    font-size: 20px;
}

#num-wrap {
    column-gap: 25px;
}
#num-wrap > div {
    column-gap: 10px;
}

/* ------------------------------------------------------------ */

#txt-wrap {
    justify-content: space-between;
}
#txt-wrap > * {
    font-size: 30px;
    font-weight: 600;
}
#txt-wrap > div:first-child {
    column-gap: 30px;
}
#txt-wrap > div:last-child {
    column-gap: 5px;
}
#product-content {
    width: 650px;
    height: 300px;
    font-size: 20px;
    padding: 10px 13px;
    border: 2px solid;
    border-radius: 5px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

#btn-wrap {
    margin-top: 25px;
    justify-content: end;
    column-gap: 10px;
}
#btn-wrap > a,
#btn-wrap button {
    display: inline-block;
    padding: 0 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    cursor: pointer;
    background-color: var(--yellow-btn);

    &:hover {
        background-color: var(--yellow-btn-hover);
    }
}

/* ------------------------------------------------------------ */

#comment-wrap {
    margin-top: 50px;
}
.comment-content {
    align-items: center;
    column-gap: 15px;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    /* background-color: var(--comment-color); */
    background-color: rgb(244, 244, 244);
}
.writer-pic {
    width: 40px;
    border-radius: 50%;
}
.writer-nickname {
    width: 230px;
}

.write-content {
    /* 삭제 버튼 있을 때 */
    /* width: 820px; */

    /* 삭제 버튼 없을 때 */
    width: 895px;
}
.comment-delete-btn {
    padding: 0 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    background-color: salmon;
    cursor: pointer;
    font-weight: 500;

    display: none;
}

#comment-write-wrap {
    align-items: center;
    background-color: var(--yellow-btn);
}
#comment-write-wrap > .writer-nickname {
    width: 16.84%;
}
.comment-input {
    width: 71.35%;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
.comment-input:focus {
    border: 2px solid rgb(255, 215, 83);
}
.comment-write-btn {
    padding: 0 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    background: rgb(255, 215, 83);
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background-color: rgb(255, 204, 35);
    }
}
